@{
    ViewData["Title"] = "Rover path map";
    
}

<div class="text-center">
    <h1 class="display-8">Rover path is displayed in the following grid</h1>
</div>

<ejs-chart id="container"></ejs-chart>
<div>
   <select class="form-switch"></select>
   <button type="button" class="btn btn-outline-primary">Add a Rover</button>

   <div class="m-2">
       <div>
            <text>Please enter the max value for upper right coordinates of the plateau:</text><br />
            <input/>
       </div>
        <div class="mt-3">
            <text>Rover 1 inputs:</text><br />
            <span><text class="m-2">Line 1:</text><input placeholder="Enter Rover's position" /></span>
            <br /><br />
            <span><text class="m-2">Line 2:</text><input placeholder="Route instruction" /></span>
       </div>
        <div class="mt-3">
            <text>Rover 2 inputs:</text><br />
            <span><text class="m-2">Line 1:</text><input placeholder="Enter Rover's position" /></span>
            <br /><br />
            <span><text class="m-2">Line 2:</text><input placeholder="Route instruction" /></span>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-2">Submit</button>
   </div>
</div>
