@model IEnumerable<Mars_Rover.Models.ViewModels.RoverInputsVIewModel>
@{
    ViewData["Title"] = "Rover path map";
}

<div class="text-center">
    <h1 class="display-8">Rover path is displayed in the following grid</h1>
</div>


<ejs-chart id="container" title="Mars rover route" width="100%" height="100%">
    <e-series-collection>
        <e-series xName="X" width=2 yName="Y" type="@Syncfusion.EJ2.Charts.ChartSeriesType.Line">
            <e-data-manager url='' crossdomain="true"></e-data-manager>
            <e-series-marker>
                <e-series-datalabel visible="true" position="Top"></e-series-datalabel>
            </e-series-marker>
            <e-series-animation enable="true"></e-series-animation>
        </e-series>
    </e-series-collection>
</ejs-chart>

<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <text>Enter max limit of the plateau:</text><br />
            <span class="mb-3"><input /><button type="submit">Submit</button></span>
            <br/><br/>
            <ejs-dropdownlist id="rovers" width="200px" class="mt-2" placeholder="Select Rovers">
                <e-data-manager url="/api/Rover/" adaptor="WebApiAdaptor"></e-data-manager>
            </ejs-dropdownlist>

        </div>

        <div class="col-md-6">
            <div>
                <Label>Bob the Rover (Rover 1) inputs:</Label><br />
                <span><text class="m-2">Line 1:</text><input placeholder="Enter Rover's position" /></span>
                <br /><br />
                <span><text class="m-2">Line 2:</text><input placeholder="Route instruction" /></span>
            </div>
            <br />
            <div>
                <Label>Martian Hunter (Rover 2) inputs:</Label><br />
                <span><text class="m-2">Line 1:</text><input placeholder="Enter Rover's position" /></span>
                <br /><br />
                <span><text class="m-2">Line 2:</text><input placeholder="Route instruction" /></span>
            </div><br/>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
            <label id="Output" class="form-label"></label>
        </div>
    </div>
</div>
